block content
  h1 #{title}
  h1 #{errors}
  h1 #{user}
  h1 VIP ACCESS
  p Enter the code 
  p Hello #{user.username}

  
  <form action="" method="POST">
    <p>
      access: <input type="text" name="access" value="" placeholder='access code'/>
    </p>
    <input type="submit" value="Submit"/>
  </form>

 

//-   VIP CODE FORM EDIT CHANGE
